OH_ETH_PORT=8080
DEBUG=
KEYV_URI=redis://localhost:6379
KEYV_AUTH_NAMESPACE=test_users
ETHERSCAN_KEY=
ETHERSCAN_TYPE=rinkeby
RATE_LIMIT_WINDOW_MS=1000
RATE_LIMIT_MAX_REQUESTS_PER_WINDOW=100
SWAGGER_URN=localhost:8080