OH_ETH_HOST=localhost
OH_ETH_PORT=8080
BASIC_AUTH_ENABLED=true
DEBUG=
KEYV_URI=redis://redis:6379
KEYV_AUTH_NAMESPACE=test_users
ETHERSCAN_KEY=
ETHERSCAN_TYPE=rinkeby
RATE_LIMIT_WINDOW_MS=1000
RATE_LIMIT_MAX_REQUESTS_PER_WINDOW=100
